"*":
  "atom-beautify":
    _analyticsUserId: "2e698a84-d527-4207-82b2-f2f11ad1d101"
  core:
    ignoredNames: [
      ".DS_Store"
    ]
    themes: [
      "one-dark-ui"
      "duotone-dark-syntax"
    ]
  editor:
    fontFamily: "Fira Mono"
    fontSize: 13
    invisibles: {}
    tabType: "soft"
  "exception-reporting":
    userId: "b13a2725-20a8-02f5-4c42-d12cfde21ca7"
  "sass-autocompile":
    nodeSassPath: "/usr/local/bin"
  welcome:
    showOnStartup: false
